<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyyx.provider.mapper.ProductOrderMapper">
    <resultMap id="BaseResultMap" type="com.wyyx.provider.dto.ProductOrder">
        <!--@mbg.generated-->
        <!--@Table product_order-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone"/>
        <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="is_delete" jdbcType="BOOLEAN" property="isDelete"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName"/>
        <result column="final_price" jdbcType="DECIMAL" property="finalPrice"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, product_id, `name`, receiver_phone, receiver_address, `state`, is_delete,
        create_time, pay_type, receiver_name, final_price, total_price
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from product_order
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from product_order
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.wyyx.provider.dto.ProductOrder">
        <!--@mbg.generated-->
        insert into product_order (id, user_id, product_id,
        `name`, receiver_phone, receiver_address,
        `state`, is_delete, create_time,
        pay_type, receiver_name, final_price,
        total_price)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR}, #{receiverPhone,jdbcType=VARCHAR}, #{receiverAddress,jdbcType=VARCHAR},
        #{state,jdbcType=TINYINT}, #{isDelete,jdbcType=BOOLEAN}, #{createTime,jdbcType=TIMESTAMP},
        #{payType,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{finalPrice,jdbcType=DECIMAL},
        #{totalPrice,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="com.wyyx.provider.dto.ProductOrder">
        <!--@mbg.generated-->
        insert into product_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="receiverPhone != null">
                receiver_phone,
            </if>
            <if test="receiverAddress != null">
                receiver_address,
            </if>
            <if test="state != null">
                `state`,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="receiverName != null">
                receiver_name,
            </if>
            <if test="finalPrice != null">
                final_price,
            </if>
            <if test="totalPrice != null">
                total_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="receiverPhone != null">
                #{receiverPhone,jdbcType=VARCHAR},
            </if>
            <if test="receiverAddress != null">
                #{receiverAddress,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BOOLEAN},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=VARCHAR},
            </if>
            <if test="receiverName != null">
                #{receiverName,jdbcType=VARCHAR},
            </if>
            <if test="finalPrice != null">
                #{finalPrice,jdbcType=DECIMAL},
            </if>
            <if test="totalPrice != null">
                #{totalPrice,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wyyx.provider.dto.ProductOrder">
        <!--@mbg.generated-->
        update product_order
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="receiverPhone != null">
                receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
            </if>
            <if test="receiverAddress != null">
                receiver_address = #{receiverAddress,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=TINYINT},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BOOLEAN},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payType != null">
                pay_type = #{payType,jdbcType=VARCHAR},
            </if>
            <if test="receiverName != null">
                receiver_name = #{receiverName,jdbcType=VARCHAR},
            </if>
            <if test="finalPrice != null">
                final_price = #{finalPrice,jdbcType=DECIMAL},
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wyyx.provider.dto.ProductOrder">
        <!--@mbg.generated-->
        update product_order
        set user_id = #{userId,jdbcType=BIGINT},
        product_id = #{productId,jdbcType=BIGINT},
        `name` = #{name,jdbcType=VARCHAR},
        receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
        `state` = #{state,jdbcType=TINYINT},
        is_delete = #{isDelete,jdbcType=BOOLEAN},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        pay_type = #{payType,jdbcType=VARCHAR},
        receiver_name = #{receiverName,jdbcType=VARCHAR},
        final_price = #{finalPrice,jdbcType=DECIMAL},
        total_price = #{totalPrice,jdbcType=DECIMAL}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <!--    kitty_zhu：逻辑删除订单-->
    <!--    kitty_zhu：查询全部订单-->
    <select id="selectOrderAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_order
        where
        user_id = #{userId,jdbcType=BIGINT}
        limit #{start,jdbcType=INTEGER} ,#{offset,jdbcType=INTEGER}
    </select>

    <!--kitty_zhu：根据订单状态查询 state:订单状态-->
    <select id="selectOrderByClass" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_order
        where state = #{state,jdbcType=TINYINT} and
        user_id = #{userId,jdbcType=BIGINT}
        limit #{start,jdbcType=INTEGER} ,#{offset,jdbcType=INTEGER}
    </select>

    <!--    kitty_zhu：根据商品名称模糊查询订单-->
    <select id="selectByGoodsName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_order po
        where po.name like concat('%',#{name,jdbcType=VARCHAR},'%') and po.state = #{state,jdbcType=TINYINT}
        and
        user_id = #{userId,jdbcType=BIGINT}
        limit #{start,jdbcType=INTEGER} ,#{offset,jdbcType=INTEGER}
    </select>

    <!--kitty_zhu:查询is_del 的订单（回收站）-->
    <select id="selectByIsDel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_order po
        where po.is_delete = #{isDelete,jdbcType=BOOLEAN}
        and
        user_id = #{userId,jdbcType=BIGINT}
        limit #{start,jdbcType=INTEGER} ,#{offset,jdbcType=INTEGER}
    </select>


    <!--    kitty_zhu：查询订单状态 -->
    <select id="selectOrderState" resultMap="BaseResultMap">
        select
        state
        from product_order
        where id = #{id,jdbcType=BIGINT}
        and
        user_id = #{userId,jdbcType=BIGINT}
        limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-10-19-->
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_order
        where id=#{id,jdbcType=BIGINT} and
        user_id = #{userId,jdbcType=BIGINT}
        limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-10-20-->
    <update id="updateStateByProductIdAndUserId">
        update product_order
        set `state`=#{updatedState,jdbcType=TINYINT}
        where id=#{id,jdbcType=BIGINT} and user_id=#{userId,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-10-20-->
    <update id="updateIsDeleteByProductIdAndUserId">
        update product_order
        set is_delete=#{updatedIsDelete,jdbcType=BOOLEAN}
        where id=#{id,jdbcType=BIGINT} and user_id=#{userId,jdbcType=BIGINT}

    </update>

    <!--auto generated by MybatisCodeHelper on 2019-10-20-->
    <update id="updatestateBYidAndUserId">
        update product_order
        set `state`=#{updatedState,jdbcType=TINYINT}
        where id=#{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-10-21-->
    <update id="updateById">
        update product_order
        <set>

            <if test="updated.name != null">
                name = #{updated.name,jdbcType=VARCHAR},
            </if>
            <if test="updated.receiverPhone != null">
                receiver_phone = #{updated.receiverPhone,jdbcType=VARCHAR},
            </if>
            <if test="updated.receiverAddress != null">
                receiver_address = #{updated.receiverAddress,jdbcType=VARCHAR},
            </if>

            <if test="updated.payType != null">
                pay_type = #{updated.payType,jdbcType=VARCHAR},
            </if>
            <if test="updated.receiverName != null">
                receiver_name = #{updated.receiverName,jdbcType=VARCHAR},
            </if>

        </set>
        where id=#{id,jdbcType=BIGINT}
    </update>
</mapper>